.cabecalho{
    background-color: #f2f2f2;
}

.nav-item .rosa:hover{
    color: palevioletred;
}

.conteudo{
    background-color: cornflowerblue;
}

.Tabacaria{
    background-color: white;
}

.artigos{
    background-color: #f2f2f2;
}

.produto{
    border-bottom: 1px solid black;
}